[Unit]
Description=BirdNET Stats

[Service]
Restart=on-failure
RestartSec=5
Type=simple
User=%u
Environment=HOME=%h
WorkingDirectory=%h/BirdNET-Pi
ExecStart=%h/BirdNET-Pi/birdnet/bin/streamlit run %h/BirdNET-Pi/scripts/plotly_streamlit.py --browser.gatherUsageStats false --server.address localhost --server.baseUrlPath /stats

[Install]
WantedBy=multi-user.target
