[Unit]
Description=Birdnet tmpfs for transient files
ConditionPathExists=/home/admin/BirdSongs/StreamData

[Mount]
What=tmpfs
Where=/home/admin/BirdSongs/StreamData
Type=tmpfs
Options=mode=1777,nosuid,nodev

[Install]
WantedBy=multi-user.target
